#cards-recipes {
    margin-top: 1rem;
    .card {
        cursor: pointer;
        margin: 1rem 0;
        height: 25rem;
        background-color: #E7E7E7;
        .card-img-top {
            height: 25rem;
            background-color: #C7BEBE;

        }
        .card-body {
            overflow: scroll;
            h2 {
                size: 16px;
                color: black;
            }
            .description_recipes {
                font-size: 12px;
                padding-left: 4rem;
                
            }
            .appareils_recipes {
                display: none;
            }
            .ustensils_recipes {
                display: none;
            }
            .ingredients_recipes {
                font-size: 12px;
            }
            .title_recipes {
                width: 70%;
            }
        }
    }
}

.dropdown-menu {
    color: white;
}

#dropdown {
    cursor: pointer;
    text-transform: capitalize;
}

#tag {
    text-transform: capitalize;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.style_title_time {
    display: flex;
    justify-content: space-between;
    .time_recipes {
        font-weight: bold;
    }
    h2 {
        font-weight: 500;
        font-size: 18px;
    }
}

.style_description_ingredients {
    display: flex;
    justify-content: space-between;
}
