
#header-flex {
    #logo-div {
    width: 2rem;
}

#site_name {
    width: 15rem;
}
}

#search-content {
    background-image: url('../assets/search.png');
    background-repeat: no-repeat;
    background-position: center right 1%;
    padding: 0.9rem;
    background-size: 1.9rem;
    background-origin: padding-box;
}
 

    #error {
        display: none;
    }

.btn {
    margin-right: 0.5rem;
}

.badge {
    display: none;
    background-color: #3282F7;
    margin-right: 1rem;
    padding: 0.8rem;
    margin-bottom: 1rem;
    justify-content: center;
    font-size: 0.9rem;
    font-weight:normal;
    padding: 1rem;
    background-image: url('../assets/cross_tag.png');
    background-repeat: no-repeat;
    background-position: center right 12%;
    padding-right: 3rem;
    background-size: 1.3rem;
    background-origin: padding-box;

}

#error_appareil {
    display: none;
    color: white;
}

#error_ingredient {
    display: none;
    color: white;
}

#error_ustensils {
    display: none;
    color: white;
}

li {
    padding: 1rem;

}

.cross_icon {
    padding: 1rem;
}

#search_ingredients {
    background-color: #3282F7;
    color: white;
    ::placeholder {
        color: white;
        opacity: 1;
    }
}

