header {
    margin-top: 1.5rem;
    #logo {
        height: 2rem;
        display: block;
        margin: auto;
        margin-bottom: 0.5rem;
    } 
    
    #site_name {
        width: 11rem;
        display: block;
        margin: auto;
    }
}